/*---------------------------------------------------------- 
------------------------------------------------------------  
                        APP 
------------------------------------------------------------  
------------------------------------------------------------  
*/
.App {
    text-align: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url('./res/images/stockBG.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  
  
  .icon-container, .list-icon-container{
    height: 2em;
    width: 2em;
    margin: auto 0;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    
  }
  
  .heading{
    font-family: 'sofia_problack';
    font-size: 1.8em; 
    color: white;
  }
  #menu-icon, #list-icon, #list-icon-added:hover{
      fill: white;
      cursor: pointer;
  }

  #icon-active{
      transform: rotate(90deg);
      cursor: pointer;
      fill: #1ED660;
  }

  #menu-icon:hover, #list-icon:hover, #list-icon-added{
    fill: #1ED660;
}
  /*---------------------------------------------------------- 
  ------------------------------------------------------------  
                          LOGIN PAGE 
  ------------------------------------------------------------  
  ------------------------------------------------------------  
  */
  .login-page-container{
      margin: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(1, 1, 1, 0.7);
      display: grid;
      grid-template-rows: 1.2fr 1fr;
  }
  .login-page-title{
      padding-top: 0.5em;
      margin: 0;
      font-family: 'sofia_problack';
      font-size: 8em;
      color: #1ED660;
  }
  .logo{
      margin-top: 1em;
      height: 10em;
      width: 10em;
  }
  
  #spotify-login-tip{
      margin: 0;
      font-family: 'sofia_problack';
      font-size: 3.5em;
      padding-bottom: 1em;
      color: white;
  }
  .button-container
  {
      background-color: transparent;
      border: solid rgba(30, 214, 96, 1) 2px;
      cursor: pointer !important;
      color:white;
      transition-delay:0s, 0s;
      transition-duration:0.4s, 0.4s;
      transition-property:border-color, background-color;
      transition-timing-function:ease, ease;
      
      padding: 1em 3.5em;
      border-radius: 4em;
  }
  .button-container:hover
  {
      background-color: rgba(30, 214, 96, 1);
      border: solid rgba(30, 214, 96, 1) 2px;
      cursor: pointer !important;
      color:white;
      transition-delay:0s, 0s;
      transition-duration:0.4s, 0.4s;
      transition-property:border-color, background-color;
      transition-timing-function:ease, ease;
      
      padding: 1em 3.5em;
      border-radius: 4em;
  }
  
  #spotify-button{
      font-family: 'sofia_proregular';
      font-size: 1.8em;
  }
  /*---------------------------------------------------------*/
  
  
  
  
  
  /*---------------------------------------------------------- 
  ------------------------------------------------------------  
                          SESSION TYPE PAGE 
  ------------------------------------------------------------  
  ------------------------------------------------------------  
  */
  .header-logo{
      height: 5em;
      width: 5em;
  }
  .header-title{
    font-family: 'sofia_problack';
    font-size: 3em;
    padding: 0.2em;
    color: #1ED660;
  }
  
  .session-buttons{
      width: 50%;
      border-radius: 2em;
      background: #1ED660;
      margin: 0 auto;
      text-align: center;
      
  }
  .button-text{
      margin: auto;
  }

  .card-info{
    font-family: 'sofia_proregular';
    font-size: 1.5em;
    padding: 0 0.5em;
    color: black;
  }


  .divider{
      height: 0.1em;
      background-color: black;
      width: 80%;
      margin: 0 auto;
  }
  .card-title{
      margin: auto;
    font-family: 'sofia_problack';
    font-size: 3.1em;

  }

  .session-container{
      display: grid;
      height: 100vh;
      width: 100vw;
      background: rgba(0,0,0,0.7);
      grid-template-rows: 0.5fr 0.7fr 12fr;
  }
  .session-title{
      display: grid;
      grid-template-columns: auto 1fr;
      margin: auto;
      justify-content: center;
      align-items: center;
  }
  .session-header{
      margin: 1em auto;
  }
  #session-info{
    font-family: 'sofia_problack';
    font-size: 2em;
    margin: auto;
    color: white;
  }
  .session-types{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      margin: 1em auto;
      

  }
  .session-types-card{
      width: 23em;
      height: 30em;
      padding: 1em;
      border-radius: 1em;
      background-color: white;
      color: rgba(30, 214, 96);
      display: grid;
      margin: 1em;
      grid-template-rows: 0.8fr 0.3fr 1.5fr 2fr;
      transition-delay:0s, 0s;
      transition-duration:0.4s, 0.4s;
      transition-property:color, background-color;
      transition-timing-function:ease, ease;
      
      
  }
  
  .session-types-card:hover{
    background-color: rgba(30, 214, 96);
    transition-delay:0s, 0s;
    transition-duration:0.4s, 0.4s;
    transition-property:color, background-color;
    transition-timing-function:ease, ease;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}
/*          ROOM          */

.room-card{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 1em auto;
}
.room-card-title{
    font-family: 'sofia_problack';
    font-size: 2.5em;
    color: white;
    padding-top: 1em;
}
#room-code-card{
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 1fr;
}

#room-code-input{
    font-family: 'sofia_problack';
    font-size: 1.8em;
    text-align: center;
    border-radius: 1em;
    outline: none;
    border:none;
    text-transform:uppercase;
    
}
.input-invalid{
    border: 2px solid red;
}

.room-text-tip{
    font-family: 'sofia_proregular';
    font-size: 1.8em; 
    color: white;
    padding-top: 1em;
}

#room-text-error{
    color: red;
}


#continue-button{
    height: 4em;
}
/* .session-types-card:hover ~ .card-title {
    color: white;
} */

  /*

  for mobile, change: 
  -header logo
  -sf
  -sf
  -sf

  */

  /*---------------------------------------------------------- 
  ------------------------------------------------------------  
                          LIST 
  ------------------------------------------------------------  
  ------------------------------------------------------------  
  */

  .list-container{
      display: grid;
      overflow: auto;
      padding: 0.5em 2em;
  }

  .list-item{
      display: grid;
      grid-template-columns: 10% 80% 10%;
      padding: 0.5em;
      color: white;
      font-family: 'sofia_proregular';
  }
  .list-content-container{
      text-align: left;
      margin: auto 0;
      padding: 0.5em;
  }
  .list-content{
    font-size: 1.7em;
    padding-bottom: 0.1em;
  }

  .list-selection-container{
      margin: auto;
      
  }

  
  /*---------------------------------------------------------- 
  ------------------------------------------------------------  
                          TRACK IMPORT 
  ------------------------------------------------------------  
  ------------------------------------------------------------  
  */

.import-container{
    display: grid;
    margin: 0 auto;
    width: 80em;
    height: auto;
    background: rgba(1, 1, 1, 0.8);
    border-radius: 1em;
    grid-template-rows: 4em 1em 36em;
    padding: 1em;
    

}

.import-main-container{
    display: grid;
    
}

#import-w-sidebar{
    grid-template-columns: 2fr 9fr;
}

#import-head{
    padding: 1em 0 0.5em 0;
}

#import-header-container{
    display: grid;
    grid-template-columns: 3em auto 19em;
    justify-items: right;
    margin: auto 0;
}

#spotify-search-input{
  font-family: 'sofia_proregular';
  font-size: 1.2em;
  border-radius: 1em;
  outline: none;
  border:none;
  width: 15em;
  padding: 0.5em 1em;
 
}  

.import-library-container{
    
    border-radius: 1em;
    background: rgba(255,255,255,0.1);
    
}

.import-library-button{
    cursor: pointer;
    padding: 0.5em;
    margin: 1em;
    font-size: 1.5em;
    border-radius: 0.5em;
    color: white;
}

.import-library-button:hover{
    background-color: #1ED660;
    
}

.show-queue-button{
    font-family: 'sofia_proregular';
    font-size: 1.2em;
    border-radius: 1em;
    background:white;
    width: auto;
    padding: 0.5em 1em;
    
    cursor: pointer;
}
#active{
    
    background: #1ED660;
}
  /*---------------------------------------------------------- 
  ------------------------------------------------------------  
                          DASHBOARD 
  ------------------------------------------------------------  
  ------------------------------------------------------------  
  */

  .dashboard-container{
      background-color: rgba(0,0,0,0.9);
      height: 100vh;
      width: 100vw; /*change this on mobile to 100*/ 
      margin: auto;

      border-radius: 1em;
  }